### Series 활용하여 데이터분석 (개수, 빈도 등 계산)

In [1]:
import numpy as np
import pandas as pd

- Series 함수
 - size: 개수 반환
 - shape: 튜플형태로 shape 반환
 - unique: 유일한 값만 ndarray로 반환
 - count: NaN을 제외한 개수를 반환
 - mean: NaN을 제외한 평균
 - value_counts: NaN을 제외하고 각 값들의 빈도를 반환

In [4]:
s = pd.Series([1, 1, 2, 1, 2, 2, 2, 1, 1, 3, 3, 4, 5, 5, 7, np.NaN])
s

0     1.0
1     1.0
2     2.0
3     1.0
4     2.0
5     2.0
6     2.0
7     1.0
8     1.0
9     3.0
10    3.0
11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [6]:
s.size

16

In [7]:
s.shape

(16,)

In [9]:
s.unique()

array([ 1.,  2.,  3.,  4.,  5.,  7., nan])

In [11]:
s.count()

15

In [12]:
s.mean()

2.6666666666666665

In [13]:
s.value_counts()

1.0    5
2.0    4
5.0    2
3.0    2
7.0    1
4.0    1
dtype: int64

- index 활용 여러데이터에 접근
 - 리스트형태로 index를 명시하여 데이터에 접근가능

In [22]:
# 5, 7, 8 번 인덱스에 접
s[[5, 7, 8]]

5    2.0
7    1.0
8    1.0
dtype: float64

- head, tail 함수
 - head(n): 상위 n개 데이터 출력 (기본값 n=5)
 - tail(n): 하위 n개 데이터 출력 (기본값 n=5)

In [19]:
s.head(5)

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
dtype: float64

In [20]:
s.tail(3)

13    5.0
14    7.0
15    NaN
dtype: float64