###  Series 데이터 변경 & 슬라이싱

In [1]:
import numpy as np
import pandas as pd

- Series 값 변경
 - 추가 및 업데이트 : 인덱스 이용
 - 삭제 : drop 함수 이용

In [3]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [5]:
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [6]:
s['f'] = 300
s

a    200
b    101
c    102
d    103
e    104
f    300
dtype: int64

In [12]:
# 다중 인덱스 업데이트 가능
s[['a', 'b']] = 300, 900
s

a    300
b    900
c    102
d    103
e    104
f    300
dtype: int64

In [13]:
s2 = s.drop('f')
s2

a    300
b    900
c    102
d    103
e    104
dtype: int64

- Slicing
 - 리스트, ndarray와 동일하게 적용

In [14]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [16]:
s1[1:3]

1    101
2    102
dtype: int32

In [17]:
s2 = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [18]:
s2[1:3]

b    101
c    102
dtype: int32

In [19]:
s2['c':'d']

c    102
d    103
dtype: int32