### pivot, pivot_table 함수 이해 및 활용하기

In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.DataFrame({
    '지역': ['서울','서울','서울','경기','경기','부산','서울','서울','부산','경기','경기', '경기'],
    '요일': ['월요일','화요일','수요일','월요일','화요일','월요일','목요일','금요일','화요일','수요일','목요일', '금요일'],
    '강수량': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100 , 50, 100],
    '강수확률': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80 , 50, 10]
})
display(df)

    지역   요일   강수량  강수확률
0   서울  월요일   100    80
1   서울  화요일    80    70
2   서울  수요일  1000    90
3   경기  월요일   200    10
4   경기  화요일   200    20
5   부산  월요일   100    30
6   서울  목요일    50    50
7   서울  금요일   100    90
8   부산  화요일   200    20
9   경기  수요일   100    80
10  경기  목요일    50    50
11  경기  금요일   100    10

- pivot 
  - dataframe의 형태 변경
  - index, column, data로 사용할 column을 명시

In [13]:
# 지역, 요일별
df.pivot(index='지역', columns='요일')

      강수량                              강수확률
요일    금요일   목요일     수요일    월요일    화요일   금요일   목요일   수요일   월요일   화요일
지역
경기  100.0  50.0   100.0  200.0  200.0  10.0  50.0  80.0  10.0  20.0
부산    NaN   NaN     NaN  100.0  200.0   NaN   NaN   NaN  30.0  20.0
서울  100.0  50.0  1000.0  100.0   80.0  90.0  50.0  90.0  80.0  70.0

In [14]:
df.pivot(index='요일', columns='지역')

       강수량                 강수확률
지역      경기     부산      서울    경기    부산    서울
요일
금요일  100.0    NaN   100.0  10.0   NaN  90.0
목요일   50.0    NaN    50.0  50.0   NaN  50.0
수요일  100.0    NaN  1000.0  80.0   NaN  90.0
월요일  200.0  100.0   100.0  10.0  30.0  80.0
화요일  200.0  200.0    80.0  20.0  20.0  70.0

In [15]:
df.pivot(index='요일', columns='지역', values='강수량')

지역      경기     부산      서울
요일
금요일  100.0    NaN   100.0
목요일   50.0    NaN    50.0
수요일  100.0    NaN  1000.0
월요일  200.0  100.0   100.0
화요일  200.0  200.0    80.0

- pivot_table
 - 기능적으로 pivot 과 동일하나, pivot_table은 중복데이터에 대한 처리가 가능함

In [17]:
# 서울-월요일 중복데이터 수정 후 pivot 함수 실행하면 duplicate 오류 발생

df = pd.DataFrame({
    '지역': ['서울','서울','서울','경기','경기','부산','서울','서울','부산','경기','경기', '경기'],
    '요일': ['월요일','월요일','수요일','월요일','화요일','월요일','목요일','금요일','화요일','수요일','목요일', '금요일'],
    '강수량': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100 , 50, 100],
    '강수확률': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80 , 50, 10]
})
display(df)

    지역   요일   강수량  강수확률
0   서울  월요일   100    80
1   서울  월요일    80    70
2   서울  수요일  1000    90
3   경기  월요일   200    10
4   경기  화요일   200    20
5   부산  월요일   100    30
6   서울  목요일    50    50
7   서울  금요일   100    90
8   부산  화요일   200    20
9   경기  수요일   100    80
10  경기  목요일    50    50
11  경기  금요일   100    10

In [19]:
df.pivot(index='요일', columns='지역')

ValueError: Index contains duplicate entries, cannot reshape

In [21]:
pd.pivot_table(df, index='요일', columns='지역', aggfunc=np.mean)
# 월요일 - 서울 지역은 강수량, 강수확률이 평균되어 반환됨

       강수량                 강수확률
지역      경기     부산      서울    경기    부산    서울
요일
금요일  100.0    NaN   100.0  10.0   NaN  90.0
목요일   50.0    NaN    50.0  50.0   NaN  50.0
수요일  100.0    NaN  1000.0  80.0   NaN  90.0
월요일  200.0  100.0    90.0  10.0  30.0  75.0
화요일  200.0  200.0     NaN  20.0  20.0   NaN